.PriceCard {
  padding: 30px;
  background-color: #4527b3;
  width: 390px;
  border-radius: 20px;
  height: fit-content;
  text-transform: uppercase;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  opacity: 0.1;
  background-color: #ffffff;
}

.checkBox {
  margin-top: 20px;
  label {
    color: white;
  }

  // div {
  //   align-items: center;
  //   display: flex;
  //   height: fit-content;
  //   justify-content: space-between;
  // }
  // label {
  //   color: white;
  //   line-height: 18px;
  //   font-size: 14px;
  //   height: fit-content;
  //   font-weight: 400;
  // }
}
