.loaderScreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  svg {
    stroke: red;
    // color: red;
    color: blue;
    circle {
      fill: green;
    }
  }
}
