.sm {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(86.43deg, #7c5ebb 32.2%, #6231c8 95.8%);
  border-radius: 16px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

.md,
.connect {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px 8px;
  height: 45px;
  cursor: pointer;
  background: #4527b3;
  border-radius: 16px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  color: #ffffff;
}
.connect {
  height: 40px;
  padding: 10px 16.5px;
}
.lg {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  // height: 68px;
  cursor: pointer;
  background: linear-gradient(0deg, #4527b3, #4527b3),
    linear-gradient(180deg, #3c3c3c 0%, #1f1f1f 49.48%, #3c3c3c 100%);
  border-radius: 16px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  transition: all 0.2s ease-out;
  color: #ffffff;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 16px rgba(64, 0, 116, 0.25);
  }
  @media screen and (max-width: 1100px) {
    font-size: 18px;
    padding: 15px 30px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 15px 20px;
    line-height: 100%;
    border-radius: 8px;
  }
}

.xl {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  // height: 68px;
  cursor: pointer;
  background: linear-gradient(0deg, #4527b3, #4527b3),
    linear-gradient(180deg, #3c3c3c 0%, #1f1f1f 49.48%, #3c3c3c 100%);
  border-radius: 16px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  transition: all 0.2s ease-out;
  color: #ffffff;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 16px rgba(64, 0, 116, 0.25);
  }
  @media screen and (max-width: 1100px) {
    font-size: 18px;
    padding: 15px 30px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 15px 20px;
    line-height: 100%;
    border-radius: 8px;
  }
}
