.card {
  width: 100%;
  // width: 281px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
  @media screen and (max-width: 980px) {
    gap: 12px;
    margin-bottom: 24px;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    gap: 12px;
    margin-bottom: 24px;
    width: 100%;
  }
  img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
    @media screen and (max-width: 1200px) {
      width: 50px !important;
      height: 50px !important;
    }
    @media screen and (max-width: 992px) {
      width: 40px !important;
      height: 40px !important;
    }
    @media screen and (max-width: 768px) {
      width: 32px !important;
      height: 32px !important;
    }
    @media screen and (max-width: 576px) {
      // width: 32px !important;
      // height: 32px !important;
    }
  }
  .cardImage {
    @media screen and (max-width: 1366px) {
    }

    @media screen and (max-width: 768px) {
      // width: 48px;
    }

    @media screen and (max-width: 480px) {
      // width: 32px;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @media screen and (max-width: 480px) {
      gap: 2px;
    }

    .cardTitle {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: 0;
      margin: 0;
      letter-spacing: 0.16em;
      color: #85858c;
      text-transform: uppercase;

      @media screen and (max-width: 1366px) {
      }

      @media screen and (max-width: 768px) {
      }

      @media screen and (max-width: 480px) {
      }
    }
    p {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      width: 200px;
      padding: 0;
      margin: 0;

      color: #000000;
    }
  }
}
