.container {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 922px) {
    flex-direction: column;
    justify-content: center;
  }

  .tileContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    width: 65%;

    @media screen and (max-width: 922px) {
    padding-left: 0;

      width: 100%;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 24px;
      padding-left: 12px;
      justify-content: space-between;
    }
  }

  .chartContainer {
    // display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: flex-end;
    width: 30%;
   margin-top: -13px;
   text-align: center;
    position: relative;

    @media screen and (max-width: 922px) {
    width: 100%;
    margin-bottom: 100px;

      svg {
        height: 400px !important;
      }
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      margin-bottom: 80px;
      svg {
        height: 320px !important;
      }
    }

    img {
      // position: absolute;
      // right: 50%;

    
    }
  }
}
