.artistVideo_container {
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  width: 1260px;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  @media screen and (max-width: 1240px) {
    padding: 86px 0;
    width: 87.5%;
  }
  @media screen and (max-width: 1024px) {
    padding: 71px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 53px 0;
    flex-direction: column;
    gap: 50px;
    column-gap: unset;
  }
  @media screen and (max-width: 576px) {
    padding: 40px 0;
    gap: 30px;
  }
  .hisOwnWords {
    width: 500px;
    @media screen and (max-width: 1240px) {
      width: 70%;
    }
    @media screen and (max-width: 768px) {
    }
    @media screen and (max-width: 576px) {
      width: 70%;
    }
  }

  .video_inner {
    margin: 0;
    z-index: 3;
    border: 0;
    outline: none;
    // object-fit: cover;

    position: relative;
    // width: 600px;
    // background-size: cover;
    // height: 450px;
    // iframe {
    //   width: 100%;
    //   height: 100%;
    //   aspect-ratio: 1 / 1;
    //   // width: 600px;
    //   padding-bottom: 100%;
    //   position: absolute;
    //   padding: 0;
    //   // width: 600px;
    //   // height: 450px;
    //   outline: 0;
    //   object-fit: cover ;

    //   // border-radius: 20px;
    //   border: none;
    // }
    width: 600px;
    height: 450px;
    .video {
      width: 600px;
      height: 450px;
      object-fit: cover;
      outline: 0;
      border-radius: 30px !important;
      border: none;
      @media screen and (max-width: 1240px) {
        width: 517px;
        height: 388px;
      }
      @media screen and (max-width: 1024px) {
        width: 427px;
        height: 320px;
      }
      @media screen and (max-width: 900px) {
        width: 375px;
        height: 281px;
      }
      @media screen and (max-width: 768px) {
        width: 427px;
        height: 320px;
      }

      @media screen and (max-width: 576px) {
        width: 300px;
        height: 225px;
      }
    }
  }
  .video-react-poster {
    // object-fit: cover !important;
    // background-size: cover !important;
    height: 450px !important;
    width: 600px !important;
  }
  video {
    height: 450px !important;
    aspect-ratio: 1 / 1;
    width: 600px !important;
    object-fit: cover !important;
    background-size: cover !important;
    object-fit: cover !important;
    // position: relative !important;
    // border-radius: 30px !important;
  }
}
