.info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
  // column-gap: 40px;
  text-transform: uppercase;

  // @media screen and (max-width: 1400px) {
  //   gap: 16px;
  // }

  // @media screen and (max-width: 1200px) {
  //   gap: 12px;
  // }

  @media screen and (max-width: 992px) {
    // gap: 16px;
    justify-content: center;
    display: none;
  }

  @media screen and (max-width: 768px) {
    // gap: 12px;
  }

  @media screen and (max-width: 500px) {
    justify-content: center;
    // gap: 6px;
  }

  h6 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    /* identical to box height */

    letter-spacing: 0.15em;

    color: #85858c;
  }
  .none {
    @media screen and (max-width: 980px) {
      display: none;
    }
  }
  .divider {
    // height: 56px;
    width: 16px;
    background: transparent;
    margin: 0;

    @media screen and (max-width: 1400px) {
      height: 48px;
    }

    @media screen and (max-width: 480px) {
      height: 36px;
      width: 1px;
    }
  }

  .artistProfile {
    height: 51px;
    width: 51px;
    border-radius: 50%;
    border: 2px solid #d1d1d1;

    @media screen and (max-width: 1400px) {
      height: 48px;
      width: 48px;
    }

    @media screen and (max-width: 1200px) {
      width: 36px;
      height: 36px;
    }
    @media screen and (max-width: 980px) {
      display: none;
    }
    @media screen and (max-width: 480px) {
      height: 24px;
      width: 24px;
    }
  }

  .artPrice {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
      width: 40px;
      height: 40px;
      padding: 5px;
      stroke: #85858c;
      fill: #85858c;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1400px) {
        width: 32px;
        height: 32px;
        padding: 4px;
      }

      @media screen and (max-width: 1200px) {
        width: 24px;
        height: 24px;
        padding: 3px;
      }

      @media screen and (max-width: 480px) {
        width: 18px;
        height: 18px;
        padding: 2px;
      }
    }

    .price {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px !important;
      line-height: 18px;
      /* identical to box height */

      letter-spacing: 0.15em;

      color: #6435c7;
      margin: 0 0;

      @media screen and (max-width: 1400px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media screen and (max-width: 480px) {
        font-size: 11px;
        letter-spacing: 0.1em;
      }
    }

    @media screen and (max-width: 480px) {
      gap: 4px;
    }
  }

  .factsheet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;

    @media screen and (max-width: 1400px) {
      .download {
        height: 14px;
      }
    }

    @media screen and (max-width: 480px) {
      .download {
        height: 10px;
      }
    }
  }
}

.infoMbl {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
  display: none;

  @media screen and (max-width: 1400px) {
    gap: 16px;
  }

  @media screen and (max-width: 1200px) {
    gap: 12px;
  }

  @media screen and (max-width: 992px) {
    gap: 16px;
    justify-content: flex-start;
    display: flex;
  }

  @media screen and (max-width: 768px) {
    gap: 12px;
  }

  @media screen and (max-width: 500px) {
    justify-content: center;
    // gap: 6px;
  }

  h6 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    /* identical to box height */

    letter-spacing: 0.15em;

    color: #85858c;
  }
  .none {
    @media screen and (max-width: 980px) {
      display: none;
    }
  }
  .divider {
    // height: 56px;
    width: 24px;
    background: transparent;
    margin: 0;

    @media screen and (max-width: 1400px) {
      height: 48px;
    }

    @media screen and (max-width: 480px) {
      height: 36px;
      width: 1px;
    }
  }

  .artistProfile {
    height: 51px;
    width: 51px;
    border-radius: 50%;
    border: 2px solid #d1d1d1;

    @media screen and (max-width: 1400px) {
      height: 48px;
      width: 48px;
    }

    @media screen and (max-width: 1200px) {
      width: 36px;
      height: 36px;
    }
    @media screen and (max-width: 980px) {
      display: none;
    }
    @media screen and (max-width: 480px) {
      height: 24px;
      width: 24px;
    }
  }

  .artPrice {
    display: flex;
    align-items: center;
    gap: 6px;

    svg {
      width: 40px;
      height: 40px;
      padding: 5px;
      stroke: #85858c;
      fill: #85858c;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1400px) {
        width: 32px;
        height: 32px;
        padding: 4px;
      }

      @media screen and (max-width: 1200px) {
        width: 24px;
        height: 24px;
        padding: 3px;
      }

      @media screen and (max-width: 480px) {
        width: 18px;
        height: 18px;
        padding: 2px;
      }
    }

    .price {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px !important;
      line-height: 18px;
      /* identical to box height */

      letter-spacing: 0.15em;

      color: #6435c7;
      margin: 0 0;

      @media screen and (max-width: 1400px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media screen and (max-width: 480px) {
        font-size: 11px;
        letter-spacing: 0.1em;
      }
    }

    @media screen and (max-width: 480px) {
      gap: 4px;
    }
  }

  .factsheet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;

    @media screen and (max-width: 1400px) {
      .download {
        height: 14px;
      }
    }

    @media screen and (max-width: 480px) {
      .download {
        height: 10px;
      }
    }
  }
}
