.landing {
  padding: 20vh 0 80px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  // overflow-x: hidden;
  //  padding: 16px;
  gap: 48px;
  height: 130vh;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    padding: 15vh 0 60px;
    height: 100%;

  }

  @media screen and (max-width: 480px) {
    padding: 15vh 0 40px;
    gap: 12px;
  }

  .landingCarousel {
    @media screen and (max-width: 992px) {
      width: 100%;
      display: flex;
      justify-content: center;
      height: auto;
    }
  }

  .landingDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;

    @media screen and (max-width: 992px) {
      align-items: center;
      width: 100%;
      margin-top: 300px;
    }

    @media screen and (max-width: 571px) {

      margin-top: 200px;
    }

    @media screen and (max-width: 474px) {

      margin-top: 220px;
    }

    .landingTabs {
      width: 100%;
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      margin-top: 30px;

      @media screen and (max-width: 992px) {
        width: 90%;
      }

      .tabList {
        // padding-top: 28px;
        gap: 20px;
        margin-bottom: 31px;
        border-bottom: none;
        align-items: baseline;

        @media screen and (max-width: 992px) {
          // padding-top: 0px;
          gap: 10px;

        }

        .tabValue {
          background: white;
          border-radius: 30px;
          font-family: 'Plus Jakarta Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          padding: 0 30px;
          height: 44px;
          line-height: 120%;
          /* identical to box height, or 19px */
          color: #585858;
          border: 1px solid #D9D9D9;

          @media screen and (max-width: 1400px) {}

          @media screen and (max-width: 1200px) {}

          @media screen and (max-width: 992px) {
            padding: 0 12px;
          }

          @media screen and (max-width: 480px) {}
        }
      }

      .tabPanel {
        // padding: 28px 0 0;
        width: 100%;

        .tabContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          height: auto;
          width: 100%;
          label {
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            width: 100%;
            /* or 180% */
            color: #85858C;
            @media screen and (max-width: 998px) {
              text-align: center;

            }
          }

          @media screen and (max-width: 992px) {
            // align-items: center;
            gap: 28px;
          }

          @media screen and (max-width: 768px) {
            gap: 24px;
          }


          .contentCards {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            @media screen and (max-width: 992px) {
              // align-items: center;
              flex-direction: column;
            }
          }

          .contentBtns {
            display: flex;
            align-items: center;
            gap: 32px;

            

            button {
              width: fit-content;
              height: 20px;

              font-family: 'Plus Jakarta Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              border-radius: 10px;

              color: #FFFFFF;
              @media screen and (max-width: 1204px) {
                height: 60px;
                width: fit-content;
              }

              @media screen and (max-width: 980px) {
                height: 60px;
                width: 320px;
              }
            }

            @media screen and (max-width: 1400px) {
              gap: 24px;
            }

            @media screen and (max-width: 768px) {
              flex-direction: column;
              gap: 18px;
            }
          }

          .contentData {
            width: 100%;

            .accordion {
              width: 100%;

              .accordionItem {
                background-color: white;

                .accordionControl {
                  justify-content: flex-end;
                  background-color: white;
                }

                .mantine-Accordion-label {
                  font-size: 12px;
                }

                .accordionPanel {
                  font-family: "Plus Jakarta Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 160%;
                  color: #85858c;

                  @media screen and (max-width: 480px) {
                    font-size: 12px;
                  }

                  ul {
                    padding: 0 16px;
                    margin: 0 0;
                    list-style: decimal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.artistProfile {
  width: 30px;
  height: 30px;
}

.contentHeader {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  width: 100%;

  // gap: 24px;

  @media screen and (max-width: 998px) {
    width: 90%;
    margin-top: 23px;

  }

  @media screen and (max-width: 480px) {
    gap: 16px;

    img {
      height: 36px;
    }
  }

  h2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    width: 100%;
    /* identical to box height, or 52px */
    padding: 0;
    margin: 0;


    color: #000000;

    @media screen and (max-width: 992px) {
      font-size: 32px;
    }

    @media screen and (max-width: 480px) {
      font-size: 32px;
    }
  }

  h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    width: 500px;
    /* identical to box height, or 52px */
    padding: 0;
    margin: 0;


    color: #000000;

    @media screen and (max-width: 992px) {
      font-size: 20px;
    }

    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }

  .likes {


    .headIconActive {
      border: 2px solid rgba(242, 20, 20, 0.2);
      background-color: rgba(242, 20, 20, 0.2);
      border-radius: 50%;

      svg {
        height: 60px;
        width: 60px;
        padding: 14px;
        stroke: rgba(242, 20, 20, 1);
        fill: rgba(242, 20, 20, 1);
        stroke-width: 4px;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1366px) {
          height: 48px;
          width: 48px;
          padding: 10px;
        }

        @media screen and (max-width: 480px) {
          height: 20px;
          width: 20px;
          padding: 3px;
        }
      }
    }
  }
}

.shareandlike {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.shareandlike1 {
  display: flex;
  gap: 10px;
  display: none;

  @media screen and (max-width: 992px) {
    display: flex;
  }
}

.contentInfo {
  h6 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    /* identical to box height */

    letter-spacing: 0.16em;

    color: #85858C;
  }

  p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    color: #000000;
  }

  @media screen and (max-width: 992px) {
    // text-align: center;
  }
}


.timer {
  // width: 189px;
  // height: 40px;
  margin-top: 24px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  gap: 11.66px;
  background: #FFFFFF;
  // box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  // backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */

  // border-radius: 20px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 126%;
  /* identical to box height, or 23px */
  color: #000000;

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.timer1 {
  // width: 189px;
  // height: 40px;
  // margin-top: 24px;
  width: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // margin-left: auto;
  // margin-right: auto;
  gap: 11.66px;
  background: #FFFFFF;
  // box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  // backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */

  // border-radius: 20px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 126%;
  padding-left: 0px;
  // padding-left: 55px;
  /* identical to box height, or 23px */
  display: none;
  color: #000000;

  @media screen and (max-width: 992px) {
    display: flex;
    // margin-bottom: 20px;
  }

}

.prf {
  display: flex;
  align-items: center;
  gap: 7.5px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;

  @media screen and (max-width: 998px) {
    width: 90%;


  }

  h6 {

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    /* identical to box height */

    letter-spacing: 0.15em;

    color: #85858C;
    text-transform: uppercase;
  }

  display:none;

  @media screen and (max-width: 992px) {
    display: flex;
  }
}

.get {
  display: none;
  width: 100%;

  h4 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
    margin: 0;

    color: #85858C;
  }

  div {
    display: flex;
    width: 100%;

    // justify-content: center;

    align-items: center;
    padding: 0 0 40px 0;

    label {
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.17em;
      color: black;
      width: 100%;
    }

  }

  @media screen and (max-width: 992px) {
    display: block;
  }
}