.main {
  display: flex;
  align-items: center;
  padding: 0 120px;
  padding-top: 20vh;
  // background: url("../public/images/projectpage.png") no-repeat center right;
  margin-bottom: 60px;

  h1 {
    padding-bottom: 8px;
    border-bottom: 8px solid #4527b3;

    @media screen and (max-width: 480px) {
      width: 75%;
    }
  }

  @media screen and (max-width: 992px) {
    padding: 0 48px;
    padding-top: 20vh;
  }

  @media screen and (max-width: 480px) {
    padding: 0px 24px;
    padding-top: 20vh;
    margin-bottom: 48px;
  }
}

.intro {
  padding: 0px 120px;
  margin-bottom: 100px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 100px;
  color: #575757;

  .introTitle {
    display: flex;
    align-items: center;

    h1 {
      @media screen and (max-width: 480px) {
        width: min-content;
      }
    }

    img {
      height: 32px;
      margin-left: 32px;
      margin-top: 12px;

      @media screen and (max-width: 480px) {
        margin-left: 20px;
      }
    }
  }

  h6 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;

    @media screen and (max-width: 480px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  ul {
    li {
      margin: 32px 0px;

      a {
        color: #4527b3;
        font-weight: 800;
      }
    }
  }

  @media screen and (max-width: 992px) {
    font-size: 20px;
    padding: 0px 48px;
    ul {
      li {
        margin: 16px 0px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    font-size: 14px;
    padding: 0px 24px;
    ul {
      padding-left: 24px;

      li {
        margin: 16px 0px;
      }
    }
  }
}
.vision {
  padding: 0px 140px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 100px;
  /* or 39px */
  color: #575757;
  p {
    margin: 32px 0px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 0px 30px;
  }
}
.discover {
  padding: 0px 140px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 100px;
  /* or 39px */
  ul {
    li {
      margin: 32px 0px;
    }
  }
  color: #575757;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 0px 30px;
    ul {
      li {
        margin: 16px 0px;
      }
    }
  }
}
.foundation {
  padding: 0px 140px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 100px;
  /* or 39px */
  color: #575757;
  p {
    margin: 32px 0px;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 0px 30px;
  }
}

.fraction {
  padding: 0px 140px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 100px;
  /* or 39px */
  ul {
    li {
      margin: 32px 0px;
    }
  }
  color: #575757;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 0px 30px;
    ul {
      li {
        margin: 16px 0px;
      }
    }
  }
}
.blockchain {
  padding: 0px 140px;
  padding-bottom: 80px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 100px;
  /* or 39px */

  ul {
    li {
      margin: 32px 0px;
    }
  }
  color: #575757;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    padding: 0px 30px;
    padding-bottom: 80px;

    ul {
      li {
        margin: 18px 0px;
      }
    }
  }
}
