.header
{
  h1{  font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 130%;
/* or 62px */

text-align: center;
padding-top:80px;

color: #FFFFFF;
  }
  p{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */

text-align: center;
letter-spacing: 20px;

color: #FFFFFF;
  }
}