.primaryNav {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  background: #4527b3;
  border-radius: 8px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 16px rgba(64, 0, 116, 0.15);
  }

  @media screen and (max-width: 1400px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.primary {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 44px;
  cursor: pointer;
  background: #4527b3;
  border-radius: 16px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;

  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 16px rgba(64, 0, 116, 0.25);
  }

  @media screen and (max-width: 1400px) {
    font-size: 16px;
    padding: 16px 32px;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 12px 24px;
    border-radius: 10px;
  }
}
.connect {
  font-weight: 600;
  padding: 16px 0;
  font-family: "Plus Jakarta Sans";
  width: 100%;
  font-style: normal;
  position: relative;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: none;
}
.clear,
.fractionBTN {
  cursor: pointer;
  color: black;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  border: 1px solid #000000;
  font-weight: 600;
  padding: 11px 16px;
  border-radius: 20px;
  font-style: normal;
  background-color: transparent;
  line-height: 17.64px;
}
.fractionBTN {
  font-size: 12px;
  padding: 7px 16px;
  border: 1px solid #efefef;
  border-radius: 15px;
  line-height: 15px;
}
.secondary {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 0 4px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #4527b3;

  border-bottom: solid 2px #4527b3;

  transition: all 0.2s ease-out;
  &:hover {
    transform: scale(1.02);
    padding: 10px 0 8px;
    // box-shadow: 0px 4px 16px rgba(64, 0, 116, 0.25);
  }

  @media screen and (max-width: 1400px) {
    font-size: 16px;
    padding: 4px 0 2px;

    &:hover {
      padding: 8px 0 6px;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
    padding: 4px 0 2px;
    letter-spacing: 0.2px;

    &:hover {
      padding: 8px 0 6px;
    }
  }
}
// .create-wallet {
//   border: 1px solid white !important ;
// }
