.heading {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin: 0 0;
  line-height: 130%;
  @media screen and (max-width: 1400px) {
    font-size: 34px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 28px;
  }
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.subheading,
.newHeading {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.17em;
  margin: 0 0;
  @media screen and (max-width: 1400px) {
    font-size: 18px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  @media screen and (max-width: 480px) {
    font-size: 11px;
  }
}
.newHeading {
  font-size: 24px;
  color: white !important;
  font-weight: 600 !important;
}
.body {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  margin: 0 0;
  @media screen and (max-width: 1400px) {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
.smallest,
.small {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  line-height: 19.5px;
  text-align: left;
  font-weight: 500;
  font-style: normal;
  margin: 30px auto;
  display: block;
  width: fit-content;
}
.small {
  margin: 0;
}
.light,
.bold {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  line-height: 19.5px;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.7);
  width: fit-content;
}
.popUp {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
.bold {
  font-weight: 600;
  margin: 0;
  margin-bottom: 4px;
  line-height: 26px;
}
.white {
  color: #ffffff;
}

.purple {
  color: #4527b3;
}
.mauve {
  color: #6231c8;
}
.black {
  color: #000000;
}

.grey {
  color: #85858c;
}
.lightGray {
  color: rgba(255, 255, 255, 0.7);
}
